<!DOCTYPE html>
<html>
<head>
    <script src="https://vk.com/js/api/xd_connection.js?2" type="text/javascript"></script>
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="~/Scripts/app/Places.js"></script>
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <style>
        html, body, #map {
            width: 100%;
            height: 500px;
            padding: 0;
            margin: 0;
        }
    </style>


    <!-- Custom styles for this template -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/simple-sidebar.css" rel="stylesheet">
    <!-- Bootstrap core JavaScript -->
</head>
<body>
    @RenderBody()

    @RenderSection("scripts", required: false)
    
    <script src="~/Scripts/app/App.js"></script>
</body>

</html>

