@{
    ViewBag.Title = "Home Page";
}

<div id="wrapper">

    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <a href="#">
                    Start Bootstrap
                </a>
            </li>
            <li>
                <a href="#">Группы</a>
            </li>
            <li>
                <a href="#">Мероприятия</a>
            </li>
        </ul>
    </div>
    <!-- /#sidebar-wrapper -->
    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <a href="#menu-toggle" class="btn btn-secondary" id="menu-toggle">Toggle Menu</a>
        </div>

        <input type="search" id="placesSearch" name="q" onsearch="funcSearch()">
        <button onclick="funcSearch()">Search</button>

        <div id="map" style="margin-top: 20px;"></div>

        <div id="vk_comments"></div>

        <table id="places" style="width:100%"></table>


        <script type="text/javascript" language="javascript">

            var myMap;
            VK.callMethod("setTitle", "Changed title");
            $("#placesSearch")[0].value = "Бар";



            function funcSearch(radius) {

                myMap.geoObjects.removeAll();
                $("#places").empty();
                radius = radius || 1;

                var center = myMap.getCenter();
                var bounds = myMap.getBounds();
                var radius = ymaps.coordSystem.geo.getDistance(center, bounds[0]) / 1.5;

                findPlacesInVK(center, 200, radius, $("#placesSearch")[0].value,

                    //VK.api("places.search",
                    //    { "latitude": center[0], "longitude": center[1], "count": 200, "radius": getZoneType(radius), "q": $("#placesSearch")[0].value },
                    function (data) {

                        var places = data.filter(x => x.photo != null).slice(0, 100);

                        for (var i = 0; i < places.length; i++) {
                            $("#places").append(`<tr> <td><img src="${places[i].photo}"></td><td><a target="_blank" href="${places[i].url}">${places[i].title}</a></td><td>${places[i].distance} м</td></tr>`);

                            myMap.geoObjects
                                .add(new ymaps.Placemark([places[i].lat, places[i].lon],
                                    {
                                        balloonContent: `<img src="${places[i].photo}"><a target="_blank" href="${places[i].url}">${places[i].title}</a>`
                                    },
                                    {
                                        preset: 'islands#icon',
                                        iconColor: '#0095b6'
                                    }));
                        }
                    });
            }


            ymaps.ready(function () {
                myMap = new ymaps.Map('map',
                    {
                        center: [59.935634, 30.325935],
                        zoom: 15,
                        controls: ["zoomControl", "geolocationControl", "rulerControl"]
                    },
                    {
                        searchControlProvider: 'yandex#search'
                    });

                myMap.events.add('boundschange', function (event) {
                    funcSearch();
                });

                funcSearch();

            });
        </script>
        
    </div>
    <!-- /#page-content-wrapper -->

</div>

<script>
    $("#menu-toggle").click(function (e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
</script>