@{
    ViewBag.Title = "Home Page";
}

<input type="search" id="placesSearch" name="q" onsearch="funcSearch()">
<button onclick="funcSearch()">Search</button>

<div id="map" style="margin-top: 20px;"></div>

<div id="vk_comments"></div>

<table id="places" style="width:100%"></table>

